!client/out/extension.js
!server/out/server.js
**/*.map
**/*.ts
**/tsconfig.base.json
**/tsconfig.json
**/tslint.json
.gitignore
.vscode/**
assets/**
client/**
playground/**
server/**
shared.webpack.config.js
CONTRIBUTING.md
