**/*.map
**/*.ts
**/tsconfig.*.json
**/tsconfig.json
**/tsconfig.tsbuildinfo
**/tslint.json
.editorconfig
.eslintignore
.gitignore
.mocharc.json
.vscode/**
CONTRIBUTING.md
artifacts/**
assets/**
client/test/**
make.js
playground/**
server/test/**

**/node_modules/**/*.css
**/node_modules/**/*.html
**/node_modules/**/*.lock
**/node_modules/**/*.markdown
**/node_modules/**/*.md
**/node_modules/**/*.tsbuildInfo
**/node_modules/**/.*
**/node_modules/**/.github
**/node_modules/**/LICENSE
**/node_modules/**/LICENSE.*
**/node_modules/**/License.*
**/node_modules/**/thirdpartynotices.*
**/node_modules/**/Makefile
**/node_modules/**/benchmark
**/node_modules/**/bin
**/node_modules/**/doc
**/node_modules/**/example
**/node_modules/**/license
**/node_modules/**/package-lock.json
**/node_modules/**/package.json
**/node_modules/**/test
**/node_modules/.bin
